<div class="container">
<div class="users">
  
  <div class="users-avatar">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
      <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
    </svg>
  </div>

    <span class="users-text">Users</span>
</div>

<table style='font-family: "Montserrat", sans-serif; color: #39628D;' class="table table-hover">
  <thead>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck">
          <label class="custom-control-label" for="tableDefaultCheck"></label>
        </div>
      </th>
      <th scope="col">TYPE</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">TELEPHONE</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
          <label class="custom-control-label" for="tableDefaultCheck1"></label>
        </div>
      </th>
      <th scope="row">CO</th>
      <td>Jean Richardson</td>
      <td>jblack@plambee.mil</td>
      <td>2-(373)278-1237</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
          <label class="custom-control-label" for="tableDefaultCheck2"></label>
        </div>
      </th>
      <th scope="row">CR</th>
      <td>Brian Lucas</td>
      <td>jrose@thoughtstorm.mil</td>
      <td>4-(844)505-5484</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
          <label class="custom-control-label" for="tableDefaultCheck3"></label>
        </div>
      </th>
      <th scope="row">CO</th>
      <td>Janet Fowler</td>
      <td>marnold@edgeclub.mil</td>
      <td>5-(729)277-3698</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
          <label class="custom-control-label" for="tableDefaultCheck4"></label>
        </div>
      </th>
      <th scope="row">SU</th>
      <td>Rose Robinson</td>
      <td>storres@rhycero.org</td>
      <td>9-(259)499-0267</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck5">
          <label class="custom-control-label" for="tableDefaultCheck5"></label>
        </div>
      </th>
      <th scope="row">SU</th>
      <td>Katherine Harris</td>
      <td>ralexander@thoughtstorm.org</td>
      <td>7-(974)849-0782</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck6">
          <label class="custom-control-label" for="tableDefaultCheck6"></label>
        </div>
      </th>
      <th scope="row">CR</th>
      <td>Christina Kelly</td>
      <td>adiaz@edgewire.net</td>
      <td>1-(130)276-2259</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck7">
          <label class="custom-control-label" for="tableDefaultCheck7"></label>
        </div>
      </th>
      <th scope="row">EM</th>
      <td>Jerry Fernadez</td>
      <td>ehansen@twitterbeat.info</td>
      <td>5-(032)189-1229</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck8">
          <label class="custom-control-label" for="tableDefaultCheck8"></label>
        </div>
      </th>
      <th scope="row">CO</th>
      <td>Howard Wells</td>
      <td>pkim@voolia.net</td>
      <td>1-(316)407-4310</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck9">
          <label class="custom-control-label" for="tableDefaultCheck9"></label>
        </div>
      </th>
      <th scope="row">SU</th>
      <td>George Freeman</td>
      <td>jfields@photojam.com</td>
      <td>1-(863)961-9734</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr>
      <th>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck10">
          <label class="custom-control-label" for="tableDefaultCheck10"></label>
        </div>
      </th>
      <th scope="row">CR</th>
      <td>Jack Jeckins</td>
      <td>aburke@izio.net</td>
      <td>4-(647)483-5657</td>
      <td>
        <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
        </label>
      </td>
    </tr>
  </tbody>
</table>
</div>