<app-navbar></app-navbar>

<br>

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Ανακαίνιση και Διακόσμηση του Χώρου σας</h3>
            <hr />
        </div>
        <div class="col-12">
            <app-carousel></app-carousel>
        </div>
        <div class="col">
            <hr />
            <ul class="list-unstyled">
                <ul>
                    <li>Η ΑΠΟΛΥΤΗ ΕΞΕΙΔΙΚΕΥΣΗ ΣΤΟΝ ΚΛΑΔΟ ΤΩΝ ΕΠΙΠΛΩΝ</li>
                    <li>Η ΑΨΟΓΗ ΑΙΣΘΗΤΙΚΗ, Η ΔΙΑΧΡΟΝΙΚΟΤΗΤΑ ΚΑΙ Η ΛΕΙΤΟΥΡΓΙΚΟΤΗΤΑ</li>
                    <li>Η ΠΑΡΟΧΗ ΥΠΗΡΕΣΙΩΝ ΥΨΗΛΟΥ ΕΠΙΠΕΔΟΥ ΣΤΗΝ ΑΝΑΚΑΙΝΙΣΗ</li>
                    <li>Η ΤΕΧΝΙΚΗ ΥΠΟΣΤΗΡΙΞΗ ΚΑΙ ΜΕΤΑ ΤΗΝ ΠΩΛΗΣΗ</li>
                    <li>Η ΑΝΑΚΑΙΝΙΣΗ ΜΕ ΛΥΣΕΙΣ ΚΑΙ ΣΥΜΦΕΡΟΥΣΕΣ ΠΡΟΣΦΟΡΕΣ</li>
                </ul>
            </ul>
            <hr />
        </div>
    </div>
</div>

<app-footer></app-footer>